.results.container {
  .card {
    margin-bottom: 1rem;
  }

  .card-footer-item .fa {
    margin-right: 7px;
  }

  .loader {
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 30px;
  }
}
